#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../../arc_ball_camera/main.rs#MyPrefabData
    Prefab<MyPrefabData>
*/

Prefab (
    entities: [
        (
            data: (
                light: (
                    ambient_color: ((0.2, 0.2, 0.2, 1.0)),
                    light: Directional((
                        color: Srgb(1.0, 1.0, 1.0),
                        intensity: 1.0,
                        direction: [0.8, -1.0, 0.8],
                    )),
                ),
            ),
        ),
        (
            data: (
                transform: (
                    translation: (8.0, 10.0, 8.0),
                ),
                light: (
                    light: Point((
                        color: Srgb(0.1, 0.1, 0.1),
                        intensity: 1.0,
                        radius: 10.0,
                        smoothness: 4.0,
                    )),
                ),
            ),
        ),
        (
            data: (
                transform: (
                    translation: (10.0, 6.5, 10.0),
                    rotation: (-0.13, 0.0, 0.0, 0.99)
                ),
                camera: Perspective(
                    aspect: 1.77777,
                    fovy: 1.0471975512,
                    znear: 0.1,
                    zfar: 2000.0,
                ),
                control_tag: (),
            ),
        ),
    ],
)